@model List<TachLayout.Models.WebSetting>

<h2>Danh sách WebSetting</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Logo</th>
            <th>Mô tả</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.WebSettingID</td>
                    <td><img src="@item.Logo" width="100" /></td>
                    <td>@item.TenSite</td>
                    <td>@item.DiaChi</td>
                    <td>@item.HotLine</td>
                </tr>
        }
    </tbody>
</table>
